.container{
    position: absolute;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -20%;
    top: 50%;
    left: 50%;
}

.loginform{
    width:95%;
    height:80%;
    padding:20%;
    border:1px solid Gainsboro;
}